body{
    margin: 0;
    padding: 0;
    background: #34495e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading
{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e67e22;
    position: relative;
    animation: animate 2s linear infinite;
}

.loading::before,.loading::after
{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;

}

.loading::before
{
    border-top: 10px solid #2ecc71;
    transform: rotate(120deg)
}

.loading::after
{
    border-top: 10px solid #ecf0f1;
    transform: rotate(240deg)
}

.loading span{
    position: absolute;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 1.5em;
    animation: animate2 2s linear infinite;
}

@keyframes animate 
{
    to {
        transform: rotate(360deg)
    }
}
@keyframes animate2 
{
    to {
        transform: rotate(-360deg)
    }
}